<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IECFieldOfActivityAnnotations -->
      <package
            uri="http://sdq.ipd.kit.edu/IECFieldOfActivityAnnotations"
            class="IECFieldOfActivityAnnotations.IECFieldOfActivityAnnotationsPackage"
            genModel="model/IECFieldOfActivityAnnotations.genmodel"/>
   </extension>

</plugin>
