<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated FieldOfActivityAnnotations -->
      <package
            uri="http://sdq.ipd.kit.edu/FieldOfActivityAnnotations"
            class="edu.kit.ipd.sdq.kamp4iec.model.FieldOfActivityAnnotations.FieldOfActivityAnnotationsPackage"
            genModel="model/FieldOfActivityAnnotations.genmodel"/>
   </extension>

</plugin>
