<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IECModificationmarks -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.ipd.sdq.kamp4iec.model.IECModificationmarks.presentation.IECModificationmarksModelWizardID"
            name="%_UI_IECModificationmarksModelWizard_label"
            class="edu.kit.ipd.sdq.kamp4iec.model.IECModificationmarks.presentation.IECModificationmarksModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IECModificationmarksModelFile.gif">
         <description>%_UI_IECModificationmarksModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IECModificationmarks -->
      <editor
            id="edu.kit.ipd.sdq.kamp4iec.model.IECModificationmarks.presentation.IECModificationmarksEditorID"
            name="%_UI_IECModificationmarksEditor_label"
            icon="icons/full/obj16/IECModificationmarksModelFile.gif"
            extensions="iecmodificationmarks"
            class="edu.kit.ipd.sdq.kamp4iec.model.IECModificationmarks.presentation.IECModificationmarksEditor"
            contributorClass="edu.kit.ipd.sdq.kamp4iec.model.IECModificationmarks.presentation.IECModificationmarksActionBarContributor">
      </editor>
   </extension>

</plugin>
