<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Modificationmarks -->
      <package
            uri="http://sdq.ipd.kit.edu/Modificationmarks"
            class="edu.kit.ipd.sdq.kamp4iec.model.Modificationmarks.ModificationmarksPackage"
            genModel="model/Modificationmarks.genmodel"/>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="edu.kit.ipd.sdq.kamp4iec.model.Modificationmarks.editor.KAMP4IECModificationRepositoryID"
            objectClass="edu.kit.ipd.sdq.kamp4iec.model.Modificationmarks.KAMP4IECModificationRepository">
         <action
               class="edu.kit.ipd.sdq.kamp4iec.model.Modificationmarks.editor.ArchitectureBasedWorkplanDerivationAction"
               icon="../edu.kit.ipd.sdq.kamp/icons/run.png"
               id="edu.kit.ipd.sdq.kamp4iec.model.Modificationmarks.editor.actionArchitectureBasedWorkplanDerivation"
               label="Step 5: Calculate activities"
               menubarPath="edit">
         </action>
         <action
               class="edu.kit.ipd.sdq.kamp4iec.model.Modificationmarks.editor.ChangePropagationAction"
               icon="../edu.kit.ipd.sdq.kamp/icons/run.png"
               id="edu.kit.ipd.sdq.kamp4iec.model.Modificationmarks.editor.actionChangePropagation"
               label="Step 3: Calculate change propagation"
               menubarPath="edit">
         </action>
      </objectContribution>
   </extension>

</plugin>
